<header>
    <h2 class="logo">SRCTC</h2>
    <nav class="navigation">
        
        <a href="/home">Home</a>
        <a href="/viewtrains">View Trains</a>
        <a href="/viewplatforms">View Platforms</a>
        <a href="/booktickets">Book Tickets</a>
        <%if (user) {%>
            <% if (user.isAdmin) { %>
                <a href="/updatePlatforms">Update Platforms</a>
                <a href="/updatetrains">Update Trains</a>
                <a href="/allcomplains">Complains</a>
                <% } else { %>
                    <a href="/complains">Complains</a>
                <% } %>
        
        <a href="/profile/">Hi <%= user.username%></a>
        <%} else {%>
            <a href="/complains">Complains</a>
        <a class="header-text" id="homebtn" href="/login" style="padding:5px 20px">Login</a>
        <% } %>
    </nav>
</header>