<%- include ('./partials/head1.ejs') %>
<body id="sixth">
    
    <%- include ('./partials/header.ejs') %>
   
    <div class="cont">
        
        <div class="cont">
            <span class="icon-close"><a href="/home"><i class="fa-solid fa-xmark"></i></a></span>
            <div class="form-box login">
                <h2>Profile <i class="fa-solid fa-address-card" style="color:#ff7300;"></i></h2>
                <form method="get" action="/logout">
                    <% if(user.isAdmin) {%>
                        <h2>Admin User</h2>
                        <% } %>

                
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-user" style="color: #ffffff;"></i></span></span>
                        <input type="text" name="username" disabled value=<%=user.username %>>
                        <label for="username-box" style="color:#ffffff; top:-5px">Username</label>
                        
                        
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></span>
                        <input type="text" name="password" disabled value=<%=user.email %>>
                        <label for="password-box"  style="color:#ffffff; top:-5px">Email</label>
                       
                        
                    </div>
                    <!-- <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-key" style="color: #ffffff;"></i></span>
                        
                        <input type="text" name="password" disabled value="Admin">
                        <label for="password-box"  style="color:#ffffff; top:-5px">Type</label>
                       
                        
                    </div> -->
                    
                    <button type='submit' class="btn">Logout</button>
                
                </form>
    
    
            </div>
    
        
    </div>